<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content class="selecao-idade">
    <div class="selecao-idade">
      <ul>
        <li><strong>Adultos</strong></li>
        <li>(Acima de 12 anos)</li>
        <li>
          <button mat-mini-fab color="button">
            <img
              src="assets/img/do_not_disturb_on.png"
              alt="Operador de subtração"
            />
          </button>
          <span>1</span>
          <button mat-mini-fab color="button">
            <img src="assets/img/add_circle.png" alt="Operador de adição" />
          </button>
        </li>
      </ul>
    </div>
    <div class="selecao-idade selecao-Crianças">
      <ul>
        <li><strong>Crianças</strong></li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <button mat-mini-fab color="button">
            <img
              src="assets/img/do_not_disturb_on.png"
              alt="Operador de subtração"
            />
          </button>
          <span>1</span>
          <button mat-mini-fab color="button">
            <img src="assets/img/add_circle.png" alt="Operador de adição" />
          </button>
        </li>
      </ul>
    </div>
    <div class="selecao-idade selecao-Bebês">
      <ul>
        <li><strong>Bebês</strong></li>
        <li>(Até 2 anos)</li>
        <li>
          <button mat-mini-fab color="button">
            <img
              src="assets/img/do_not_disturb_on.png"
              alt="Operador de subtração"
            />
          </button>
          <span>1</span>
          <button mat-mini-fab color="button">
            <img src="assets/img/add_circle.png" alt="Operador de adição" />
          </button>
        </li>
      </ul>
    </div>
  </div>
  <h2>Categoria</h2>
  <div class="tipo-Categoria">
    <mat-chip-listbox aria-label="seleção de Categoria">
      <mat-chip-option>Ecônomica</mat-chip-option>
      <mat-chip-option>Executiva</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div class="button">
    <button mat-raised-button color="button">Cancelar</button>
    <button mat-raised-button color="primary">Aplicar</button>
  </div>
</section>
