<app-banner src="assets/img/Banner homepage.png" alt="banner"></app-banner>
<app-container>
  <h1>Promoções</h1>
  <app-form-busca></app-form-busca>
  <div div class="card-wrapper">
    <app-card-busca></app-card-busca><app-card-busca></app-card-busca
    ><app-card-busca></app-card-busca><app-card-busca></app-card-busca
    ><app-card-busca></app-card-busca><app-card-busca></app-card-busca
    ><app-card-busca></app-card-busca><app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h1>Depoimentos</h1>
  <div class="card-wrapper-depositions">
    <app-depositions></app-depositions>
    <app-depositions></app-depositions>
    <app-depositions></app-depositions>
  </div>
</app-container>
