<footer>
  <figure class="banner">
    <img src="{{ src }}" alt="{{ alt }}" />
  </figure>
  <div class="cotainer">
    <div class="obs">
      <img src="assets/img/Logo-branco 2.png" alt="" />
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>
        Desenvolvido por Eduardo em curso Alura. Projeto fictício sem fins
        comerciais.
      </p>
    </div>
    c:\Users\durar\Videos\Captures\AngularAlura - Google Chrome 2024-01-21
    12-55-43.mp4
    <div class="redeSociais">
      <p>Acesse nossas redes:</p>
      <div class="logo">
        <a href=""><img src="assets/img/Whatsapp 1.png" alt="" /></a>
        <a href=""><img src="assets/img/Instragam 1.png" alt="" /></a>
        <a href=""><img src="assets/img/Twiter 1.png" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
