footer {
  background-color: #000;
  color: white;
  width: 100%;
  figure {
    margin: 0;
    img {
      max-width: 100%;
    }
  }
  .cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
    .obs {
      margin-right: 10rem;
    }
    .redeSociais {
      margin-left: 10rem;
    }
  }
}
